p {
    margin: 0;
    padding: 0;
}

.specialistItem {
    display: flex;
    padding: 40px 20px 40px 40px;
    background-color: white;
    
    /* text-transform: capitalize; */
}


img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 11.98px;
    object-fit: cover;
    margin-right: 20px;
}

.specialistCard {
    margin-right: 50px;
    width: 380px;
}

.specialistName {
    margin: 0;
    padding: 0;

    font-family: Mulish;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.28;
    
    color: rgba(22, 22, 31, 1);

    text-transform: capitalize;
    margin-bottom: 14px;
}

.experienceBloc {
    display: flex;
}

.specialistType {
    margin: 0;
    padding: 0;

    text-transform: capitalize;

    font-family: Mulish;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.77;

    color: rgba(129, 129, 129, 1);
    margin-bottom: 6px;
}

.specialistStatus {
    margin: 0;
    padding: 0;

    text-transform: capitalize;
    font-family: Mulish;
        font-size: 16px;
        font-weight: 600;
        line-height: 0.72;
      
        color: rgba(22, 22, 31, 1);
}

.specialistExperience {
    margin: 0;
    padding: 0;


    font-family: Mulish;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.76;

    color: rgba(22, 22, 31, 1);
}

.specialistPractice {
    margin: 0;
    padding: 0;

    font-family: Mulish;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.76;

    color: rgba(22, 22, 31, 1);
}

.descriptionBloc {
    width: 400px;
}



